.haha2{
    background-color: #73cbab;
}

.haha{
    padding: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
}